.main {
    width: 100%;
    height: calc(100vh - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 5px; */
    color: #fff;
}

.break {
    height: 1px;
    width: 100%;
    margin-bottom: 15px;
}

.main h1 {
    font-size: 20px;
    margin-bottom: 5px;
}

.main p {
    font-size: 13px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.6);
}

.main p.log {
    opacity: 0;
    transition: 0.2s ease-in-out;
}

.main p.log.show {
    opacity: 1;
}

.main .input {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 5px;
}

.main .input:last-child {
    margin-bottom: 0;
}

.main .input .icon {
    height: 100%;
    border-radius: 6px 0 0 6px;
    padding: 6px 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.07);
}

.main .input input,
.main .input button {
    height: 100%;
    outline: none;
    border: none;
    padding: 6px 13px;
    border-radius: 0 6px 6px 0;
    width: 100%;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.main .input:has(.generate) input {
    border-radius: 0;
}

.main .input .generate {
    height: 100%;
    border-radius: 0 6px 6px 0;
    padding: 6px 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.07);
    cursor: pointer;
    color: rgba(255, 255, 255, 0.3);
    transition: .4s;
}
.main .input .generate:hover {
    background-color: rgba(255, 255, 255, 0.16);
    color: rgba(255, 255, 255, 0.5);
}

button {
    cursor: pointer;
}

.main .buttons button {
    padding: 4px 10px;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: rgb(44, 114, 245);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #fff;
    margin: 0 2px;
    transition: .4s;
}

.main .buttons button:hover {
    transform: scale(1.05);
}

.main .buttons {
    margin: 15px 0;
}

/* .main button {
    padding: 6px 13px;
    width: 60%;
    outline: none;
    background-color: rgb(28, 128, 243);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    display: flex;
} */

/* .main input {
    padding: 6px 13px;
    width: 60%;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    display: flex;
} */

.main button i {
    margin-top: 2px;
    margin-right: 2px;
}