.bar {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    overflow: hidden;
    position: relative;
}

.bar .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bar .button {
    width: 9px;
    height: 9px;
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
    border-radius: 10px;
    margin-right: 5px;
    transition: .4s;
}
.bar .button:last-child {
    margin-right: 0;
}

.bar .button:nth-child(1):hover {
    background-color: rgb(250, 62, 62);
}
.bar .button:nth-child(2):hover {
    background-color: rgb(250, 206, 62);
}

.bar i {
    color: #fff;
}

.bar i.bg {
    color: rgba(255, 255, 255, 0.1);
    position: absolute;
    right: 0;
    font-size: 40px;
}